body {
  background-color: rgb(234,234,234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(24,42,115) 0%, rgb(33,138,174) 69%, rgb(32,167,172) 89%);
}

.error-label{
  margin-top: 10px !important;
  display: block;
}

a{
  cursor:pointer
}

.form-field{
     margin: 0 0 1em;
}

.form-field .react-datepicker-wrapper{
  width: 100%;
}
